* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c8bb00;
    font-family: 'price', Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.neutralArea {
    width: 450px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #002f61;
    border-radius: 3rem;
}
.item {
    width: 120px;
    height: 120px;
    background-color: #0058b6;
    color: #FFF;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    border-radius: 2rem;
}
.item.dragging {
    opacity: 0.5;
}
.areas {
    width: 450px;
    display: flex;
    margin-top: 20px;
}
.areas.correct .area {
    background-color: #0058b6;
}
.area {
    width: 150px;
    height: 150px;
    border: 5px solid #002f61;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area.l {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.area.r {
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
}
.hover {
    background-color: rgba(0, 0, 0, 0.3);
}
footer img{
   width: 200px;
   margin-top: 30px;
}
.logo {
    width: 200px;
    margin-bottom: 30px;
}
@font-face {
    font-family: 'price';
    src: url('pricedown\ bl.otf');
}

@media( max-width: 460px){
    .neutralArea {
        width: 95vw;
        height: 150px;
        border-radius: 3rem;
    }
    .item {
        width: calc(90vw / 3);
        height: calc(90vw / 3);
        border-radius: 2rem;
    }
.areas {
    width: 95vw;
    height: calc(95vw / 3);
    display: flex;
    margin-top: 20px;
}
}